<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>Layout</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.2/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.2/dist/jquery.js}"></script>
</head>
<body>
	<div class="container">
		<h1 layout:fragment="header">Layout to be replaced</h1>
		<div layout:fragment="content">Fake content to be replaced</div>
	</div>

</body>
</html>
