<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout-licence">
<head>
	<title>Licence Generator</title>
</head>
<body>
	<h1 layout:fragment="header">Licences keygen</h1>
	

    
	<div layout:fragment="content" class="container">
	
		<script type="text/javascript">
			$(document).ready(function() {
				
				// Handle the click on "select all" buttons
				var select = true;
				$('button[name="select_all"]').click(function() {
					var name = this.id;
					$( "input[name$="+name+"]" ).prop('checked', select);
					select = !select;
				})
				
				// Handle click anywhere in the cell -> transmited to the checkbox if any inside the cell
				$('td').click(function (event) {
					if (!$(event.target).is('input')) {
						var obj =$(this).find('input');      
						obj.prop('checked', !obj.is(':checked'));      
					}
				});
			})
		</script>

		<form id="licenceForm" th:action="@{/(form)}" th:object="${licences}" action="#" method="post">
			Lmid: <input type="text" style="width: 400px;" th:field="*{lmid}"/>
			
			Sphere profile: 
			<select th:field="*{selectedProfile}">
			    <option th:each="profileName:${licences.profiles}"
			           th:value="${profileName}" th:text="${profileName}" th:selected="${profileName.equals(selectedProfile)}">v2.3</option>
			</select>
			
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Generate</th>
						<th>Key</th>
						<th>cmsCode</th>
						<th>floating <button name="select_all" id="floating" type="button" >select all</button></th>
						<th>research <button name="select_all" id="research" type="button" >select all</button></th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${licences.licences.empty}">
						<td colspan="3">No licences</td>
					</tr>
					<tr th:each="licence, stat : *{licences}" disabled="true">
						<td>
							<input name="selected1" type="checkbox" th:checked="${licence.selected}" 
									th:field="*{licences[__${stat.index}__].selected}" th:id="${'selected-'+stat.index}"/>							
						</td>
						<td>
							<span th:text="${licence.key}"> KEY1 </span>
							<input name="key1" type="hidden" th:field="*{licences[__${stat.index}__].key}"
									th:id="${'key-'+stat.index}"/>
						</td>
						<td>
							<span th:text="${licence.cmsCode}"> CMSCODE1 </span>
							<input name="cmsCode1" type="hidden" th:field="*{licences[__${stat.index}__].cmsCode}"
									th:id="${'cmsCode-'+stat.index}"/>							
						</td>
						<td>
							<input name="floating1" type="checkbox" th:checked="${licence.floating}" 
									th:field="*{licences[__${stat.index}__].floating}" th:id="${'floating-'+stat.index}"/>
						</td>
						<td>
							<input name="research1" type="checkbox" th:checked="${licence.research}"
									th:field="*{licences[__${stat.index}__].research}" th:id="${'research-'+stat.index}"/>
						</td>
						<td th:text="${#calendars.format(licence.created)}">July 11, 2012 2:17:16 PM CDT</td>
					</tr>

				</tbody>
			</table>
			<div class="form-actions">
				<input type="submit" value="Generate licence" />
			</div>



		</form>
	</div>

</body>
</html>
